APP_ENV=local
APP_DEBUG=true
APP_KEY=L3Fsj984B9R2pKe6Q110N3nTMChi91rR

DB_CONNECTION=mysql
DB_HOST=localhost
DB_PORT=3306
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CACHE_DRIVER=memcached
QUEUE_DRIVER=sync
